<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <div class="box">
        <h2>SERVICES</h2>
    </div>
    <div class="container">

        <div class="card" style="--i:-1">
            <div class="content">
                <h2>01</h2>
                <h3>Card Two</h3>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ipsa! Impedit dicta perspiciatis
                    incidunt ex placeat eum consequuntur asperiores, amet tempore sapiente dignissimos quis veniam
                    .</h4>
                    <a href="#">Read More</a>
            </div>
        </div>
        <div class="card" style="--i:0">
            <div class="content">
                <h2>02</h2>
                <h3>Card Two</h3>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ipsa! Impedit dicta perspiciatis
                    incidunt ex placeat eum consequuntur asperiores, amet tempore sapiente dignissimos quis veniam
                    .</h4>
                    <a href="#">Read More</a>
            </div>
        </div>
        <div class="card" style="--i:1">
            <div class="content">
                <h2>03</h2>
                <h3>Card Two</h3>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ipsa! Impedit dicta perspiciatis
                    incidunt ex placeat eum consequuntur asperiores, amet tempore sapiente dignissimos quis veniam
                    .</h4>
                    <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="container2">

        <div class="card2" style="--j:-1">
            <div class="content">
                <h2>01</h2>
                <h3>Card Two</h3>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ipsa! Impedit dicta perspiciatis
                    incidunt ex placeat eum consequuntur asperiores, amet tempore sapiente dignissimos quis veniam
                    .</h4>
                    <a href="#">Read More</a>
            </div>
        </div>
        <div class="card2" style="--j:0">
            <div class="content">
                <h2>02</h2>
                <h3>Card Two</h3>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ipsa! Impedit dicta perspiciatis
                    incidunt ex placeat eum consequuntur asperiores, amet tempore sapiente dignissimos quis veniam
                    .</h4>
                    <a href="#">Read More</a>
            </div>

        </div>
        <div class="card2" style="--j:1">
            <div class="content">
                <h2>03</h2>
                <h3>Card Two</h3>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ipsa! Impedit dicta perspiciatis
                    incidunt ex placeat eum consequuntur asperiores, amet tempore sapiente dignissimos quis veniam
                    .</h4>
                    <a href="#">Read More</a>
            </div>     
        </div>

    </div>

</body>

</html>