<section id="sec1" class="child body1">
    <div class="content-left">
      <h1 style="color: white">
        SWAYAMBHU INNOVATIONS
      </h1>
      <hr/>
      <p style="color: white">We are a startup run by a group of young and innovative student entrepreneurs, and we specialize in developing cloud based cross platform personalized organization management and monitoring platforms using A.I/ML and automation to provide a leverage point to our clients in terms of their client reach and business management. We have presented and have been recognized by few of the most honorary educational and research institutes of India and we aim to bring our specialization in our knowledge  and learning into the real world and develop real life problem solving solutions, through the advanced capabilities of digitization and Data.</p>
      <div class="button">
        <img src="assets\Icons\Android.png" /> 
        <img src="assets\Icons\GoogleCloud.webp" /> 
        <img src="assets\Icons\Apple.webp" /> 
        <img src="assets\Icons\Angular.png" /> 
        <img src="assets\Icons\Ionic.png" /> 
      </div>
    </div>

    <div class="right-content">
      <img class="img1" src="assets\Logos\swayambhu-logo-transparent-background.png" />
    </div>
  </section>
