<div class="main">
    <h1 class="heading">KNOW US</h1>
    <div class="uk-position-relative uk-visible-toggle uk-light sliderParentContainer uk-align-center " tabindex="-1"
        uk-slideshow="animation: scale">
        <div class="uk-slider-container">
            <ul class="uk-slideshow-items uk-grid uk-child-width-1-1 sliderContainer" uk-height-viewport="offset-bottom: 30">
                <li>
                    <app-quote-card></app-quote-card>
                </li>
                <li>
                    <app-quote-card></app-quote-card>
                </li>
                <li>
                    <app-quote-card></app-quote-card>
                </li>
                <li>
                    <app-quote-card></app-quote-card>
                </li>
                <li>
                    <app-quote-card></app-quote-card>
                </li>
                <li>
                    <app-quote-card></app-quote-card>
                </li>
                <li>
                    <app-quote-card></app-quote-card>
                </li>
            </ul>
            <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous
                uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next
                uk-slideshow-item="next"></a>
        </div>
    </div>
    <button class="uk-align-center uk-margin-medium-top uk-button knowMoreButton">Know More</button>
</div>