<div id="container">
    <h1>REACH US</h1>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" id="slideshow"
        uk-slideshow="autoplay: true; autoplay-interval: 4000; pause-on-hover: false">

        <ul class="uk-slideshow-items" uk-height-viewport="offset-bottom: 30">
            <li>
                <h2>WORK WITH US</h2>
                <div class="button-group">
                    <button>Mail Us</button>
                    <button>Call Us</button>
                    <button>Share a proposal with us</button>
                    <button>Meet Us</button>
                    <button>Share an idea with us</button>
                    <button>Seek work from us</button>
                </div>
            </li>
            <li>
                <h2>COLLABORATE WITH US</h2>
                <div class="button-group">
                    <button>Mail Us</button>
                    <button>Call Us</button>
                    <button>Share a proposal with us</button>
                    <button>Meet Us</button>
                    <button>Share an idea with us</button>
                    <button>Seek work from us</button>
                </div>
            </li>
            <li>
                <h2>RAISE AN INQUIRY</h2>
                <div class="button-group">
                    <button>Mail Us</button>
                    <button>Call Us</button>
                    <button>Share a proposal with us</button>
                    <button>Meet Us</button>
                    <button>Share an idea with us</button>
                    <button>Seek work from us</button>
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left-out uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
            uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right-out uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
            uk-slideshow-item="next"></a>

    </div>

    <button id="know-more">Know More</button>
</div>