<div id="container">
    <div class="headings">
        <h1>EXPERIENCE</h1>
        <h2>WHAT WE DO</h2>
    </div>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" id="slideshow" uk-slideshow="autoplay: true; autoplay-interval: 4000; pause-on-hover: false">

        <ul class="uk-slideshow-items" uk-height-viewport="offset-bottom: 30">
            <li>
                <img src="../../assets/design-and-development-process-1721879.png" alt="">
                <button>E-Commerce Platforms</button>
            </li>
            <li>
                <img src="../../assets/concept-of-seo-ranking-1721890.png" alt="">
                <button>Search Engine Optimization</button>
            </li>
            <li>
                <img src="../../assets/man-developing-website-on-desk-1721885.png" alt="">
                <button>UI/UX Development</button>
            </li>
            <li>
                <img src="../../assets/women-web-developer-with-laptop-1721886.png" alt="">
                <button>Web Technologies</button>
            </li>
        </ul>
    
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    
    </div>
</div>