<main>
    <section>
        <app-header></app-header>
    </section>
    <section>
        <app-section1></app-section1>
    </section>
    <section>
        <app-home-card></app-home-card>
    </section>
    <section>
        <app-section3></app-section3>
    </section>
    <section>
        <app-our-products></app-our-products>
    </section>
    <section>
        <app-our-wall></app-our-wall>
    </section>
    <section>
        <app-section6></app-section6>
    </section>
    <section>
        <app-footer></app-footer>
    </section>
</main>
